
# coq
*.aux
*.d
*.glob
*.vio
*.vo
*.vos
*.vok
*.v.timing
CoqMakefile.conf
Makefile.bak
Makefile.coq
Makefile.coq.conf
Makefile.coq.bak
Makefile-coq.conf
csdp.cache
lia.cache
nlia.cache
nia.cache
nra.cache
.csdp.cache
.lia.cache
.nlia.cache
.nia.cache
.nra.cache

/remake_curves.log
/finished.ok
/time-of-build-pretty.log
/time-of-build.log

/*.out
/*.out.processed
output-tests/*.expected.processed

